.App {
  display: flex;
  flex-direction: column;
  width: 240px;
  padding: 12px 20px;
}

.App__Header {
  display: flex;
}

.App__Preview {
  margin-bottom: 12px;
}

.App__HeaderButton {
  flex: 1;
  appearance: none;
  font: inherit;
  margin: 0;
  padding: 12px 0;
  border: none;
  color: inherit;
  background: none;
  opacity: 0.8;
}

.App__HeaderButton--active {
  font-weight: 700;
  opacity: 1;
}