.ColorStopEditor {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ColorStopEditor__Channels {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.ColorStopEditor__Footer {
  display: flex;
  justify-content: space-between;
}