.Editor {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.Editor__Field {
  display: flex;
  align-items: center;
  min-height: 20px;
}

.Editor__FieldLabel {
  flex: 1;
  font-size: 12px;
  line-height: 14px;
}
